* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.main_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.results {
    display: flex;
    gap: 27px;
}

h2 {
    font-size: 46px;
    font-weight: 700;
    line-height: 55.67px;
}

form {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.error__text {
    display: none;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px   ;
}

.input_box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    width: 277px;
    height: 59px;
    padding: 10px;
    font-size: 20px;
    outline: none;
}

button {
    width: 277px;
    height: 59px    ;
    background-color: #4200FF;
    padding: 20px 90px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 15px ;
}

.required span {
    color: #4200FF;
}

.required input {
    border: 2px solid gray;
    border-color: #4200FF;
}

.error input{
    border-color: red;
}

.error span{
    display: block;
    color: red;
}
